<ion-header>
  <ion-toolbar>
    <ion-title>preparie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
 
    <div *ngFor="let lpp of listPrepari">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle><h2>{{lpp.datetimepari}}</h2></ion-card-subtitle>
        
        </ion-card-header>
        
    <ion-card-content>
   
   
    
        
   <ion-card *ngFor="let p of lpp.teams">
 


    <ion-card-header>
      <ion-card-subtitle>{{p.team_name}}</ion-card-subtitle>
      <ion-card-title></ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
   
   
    </ion-card-content>
  </ion-card>
</ion-card-content>
</ion-card>
</div>

</ion-content>
